n8n/job_market_alert_workflow.json
{
  "name": "job_market_alert_workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-market-alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -32
      ],
      "id": "205a04da-4ea9-43b8-9673-6787286d4f1c",
      "name": "Webhook",
      "webhookId": "2a558b84-9358-4a6e-9ff6-2bbea93af1ee"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d494f12-1124-4e35-9353-1344d1921fa4",
              "name": "pipeline_status",
              "value": "={{ $json.body.pipeline_status }}",
              "type": "string"
            },
            {
              "id": "de80c652-ea0d-4c5e-8c93-6637f8ea2b79",
              "name": "total_jobs",
              "value": "={{ $json.body.total_jobs }}",
              "type": "number"
            },
            {
              "id": "dfaae9ff-ae87-417d-bf15-b86ddfd37d87",
              "name": "jobs_by_source",
              "value": "=Arbeitnow: {{$json.body.jobs_by_source.arbeitnow}}, RemoteOK: {{$json.body.jobs_by_source.remoteok}}, Himalayas: {{$json.body.jobs_by_source.himalayas}}, Remotejobs: {{$json.body.jobs_by_source.remotejobs}}",
              "type": "string"
            },
            {
              "id": "c689434b-5c2c-429b-bf9d-217f6cfb1f57",
              "name": "remote_ratio",
              "value": "={{ $json.body.remote_count }}",
              "type": "number"
            },
            {
              "id": "54cc801d-e334-47fb-810c-8a1684670bf0",
              "name": "onsite_count",
              "value": "={{ $json.body.onsite_count }}",
              "type": "number"
            },
            {
              "id": "8a787c99-7606-4066-b55c-aadd031e87e3",
              "name": "entry_level_jobs",
              "value": "={{ $json.body.entry_level_jobs }}",
              "type": "number"
            },
            {
              "id": "a728a48e-7d5c-4833-8e37-42c7ef8e34dd",
              "name": "hybrid_count",
              "value": "={{ $json.body.hybrid_count }}",
              "type": "string"
            },
            {
              "id": "5d016d50-2739-4a0b-8e0c-dea8b8dfc56d",
              "name": "remote_count",
              "value": "={{ $json.body.jobs_by_source.remotejobs }}",
              "type": "number"
            },
            {
              "id": "045267fe-8bca-4447-9478-bf8fd90314ee",
              "name": "salary_mentioned_count",
              "value": "={{ $json.body.salary_mentioned_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -32
      ],
      "id": "718fbaa2-933e-4589-b3ee-1621da00e3ce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "zeeshanzahid118@gmail.com",
        "subject": "=Job Pipeline Report - {{$now.format('yyyy-MM-dd')}}",
        "message": "=<h2>Job Market Pipeline Report</h2>\n\n<p><strong>Pipeline Status:</strong> {{ $json.pipeline_status }}</p>\n\n<h3>Job Statistics</h3>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n  <tr style=\"background-color:#1F4E79; color:white;\">\n    <td><strong>Metric</strong></td>\n    <td><strong>Value</strong></td>\n  </tr>\n  <tr><td><strong>Total AI/ML/Data Jobs</strong></td><td>{{ $json.total_jobs }}</td></tr>\n  <tr><td><strong>Jobs by Source</strong></td><td>{{ $json.jobs_by_source }}</td></tr>\n  <tr><td><strong>Remote Jobs</strong></td><td>{{ $json.remote_count }}</td></tr>\n  <tr><td><strong>Hybrid Jobs</strong></td><td>{{ $json.hybrid_count }}</td></tr>\n  <tr><td><strong>On-site Jobs</strong></td><td>{{ $json.onsite_count }}</td></tr>\n  <tr><td><strong>Entry Level (0-1 yr) Jobs</strong></td><td>{{ $json.entry_level_jobs }}</td></tr>\n  <tr><td><strong>Jobs with Salary Info</strong></td><td>{{ $json.salary_mentioned_count }}</td></tr>\n</table>\n\n<p><em>This email was automatically generated by the Job Market Analytics Pipeline.</em></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -32
      ],
      "id": "3b2569bc-3f68-4af1-9b02-27a75a321d02",
      "name": "Send a message",
      "webhookId": "58152164-e402-4a6f-9ed2-b2a49227c646",
      "credentials": {
        "gmailOAuth2": {
          "id": "2luj7vcvbdDSLezH",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a036d647-1c02-421c-bd25-0b9ed67a3c91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a7c24706a1025e90a2884fd13e6081888bb4b0a9cbe458a74c073e9bafa3388"
  },
  "id": "Azpy7AgirE8QDbp1",
  "tags": []
}